// Styles for the Intro Scene
#intro-scene {
    display: flex;
    justify-content: center;
    align-items: center;

    .intro-headline {
        max-width: 80%;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 